<h2>Hello World!</h2>

<h5>We're Laura and Jonathan, and we love beer! This blog is devoted to our our beerventures in Portland, OR - and sometimes elsewhere!</h5>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img src="assets/img/laura.jpg">
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img src="assets/img/jt.jpg">
      </div>
    </div>
  </div>
</div>


<p>A big part of our philosophy is to try and "Like More Things." Meaning, if we don't like a specific style of beer, it might just be because we haven't had enough exposure to it yet. So, over time, we'll seek it out more and more to see if we can't make our taste buds evolve a bit. It doesn't always work, but when it does, it's worth it!</p>

That being said, we of course have preferences.

<div class="row">
  <div class="col s6">
    <h6>You'll see Laura drink a lot of...</h6>
    <ul>
      <li>Porters</li>
      <li>Stouts</li>
      <li>thing 3</li>
    </ul>

    <h6>And not a lot of...</h6>
    <ul>
      <li>thing 1</li>
      <li>thing 2</li>
      <li>thing 3</li>
    </ul>
  </div>
  <div class="col s6">
    <h6>You'll see Jonathan drink a lot of...</h6>
      <ul>
        <li>Belgian Ales</li>
        <li>IPA's</li>
        <li>Pale Ales</li>
      </ul>

    <h6>And note a lot of...</h6>
      <ul>
        <li>Sours</li>
        <li>Fruit Beers</li>
        <li>Beers with weird seasoning in them</li>
      </ul>
  </div>
</div>
