<h2>Contact</h2>
<h4>We'd love for you to reach out and tell us about new and exciting beers, breweries, and bars to try. You can leave a comment on a post, or simply shoot us an email!</h4>

CONTACT FORM GOES HERE
