<p>This is the home page!
All blog posts will be listed here, eventually!</p>

<!-- {{#each model as |post|}}
  {{post-tile post=post}}
{{/each}} -->


{{#each model as |post|}}
  {{post-tile post=post}}
{{/each}}
